extends layout

block content
  div(id="imageSlider")
    div(id="sliderFrame")
      div(id="slider")
        img(src="img/image-slider-1.jpg")
        img(src="img/image-slider-2.jpg")
        img(src="img/image-slider-3.jpg", alt="#htmlcaption3")
        img(src="img/image-slider-4.jpg")
      div(id="thumbs")
        div(class="thumb")
          img(src="img/thumb-1.jpg", class="thumb")
        div(class="thumb")
          img(src="img/thumb-2.jpg", class="thumb")
        div(class="thumb")
          img(src="img/thumb-3.jpg", class="thumb")
        div(class="thumb")
          img(src="img/thumb-4.jpg", class="thumb")
  div(id="aboutUs", class="midContent")
    div(id="title") Giới Thiệu
    div(class="space")
    div(id="content")
      span(style="font-weight:bold; text-decoration: underline; color: #000") Lịch sử hình thành:
      br
      span &nbsp;&nbsp;Thông tư 1817/VP2 do Phó Thủ tướng Đỗ Mười ký ngày 01/8/1973 giao nhiệm vụ cho trường ĐHBK Hà Nội thực hiện đề tài N0376 phục vụ cuộc kháng chiến chống Mỹ.
      br
      span &nbsp;&nbsp;Thành lập theo Quyết định số 236/QĐ ngày 15/3/1985 của Bộ Đại học và Trung học chuyên nghiệp (nay là Bộ Giáo dục và Đào tạo).
      br
      span &nbsp;&nbsp;Đăng ký hoạt động khoa học và công nghệ số 028 do Bộ Khoa học và Công nghệ cấp ngày 15/3/1993. Đăng ký hoạt động khoa học và công nghệ bổ sung số A177 của Bộ Khoa học và Công nghệ cấp ngày 19/11/2005.
      span &nbsp;&nbsp;Biên chế của Trung tâm là 30 CBVC, trong đó có 13 tiến sỹ, thạc sỹ, kỹ sư.
      br
      span(style="font-weight:bold; text-decoration: underline; color: #000") Lĩnh vực hoạt động chính:
      br
      span &nbsp;&nbsp;Nghiên cứu công nghệ mới để chế tạo các chi tiết cơ khí chính xác dùng trong các thiết bị thuỷ lực, thuỷ khí...
      br
      span &nbsp;&nbsp;Sản xuất và cung cấp thiết bị dạy nghề, các sản phẩm cơ khí chính xác.
      br
      span &nbsp;&nbsp;Dịch vụ khoa học công nghệ
      br
      span(style="font-weight:bold; text-decoration: underline; color: #000") Một số thành tựu chủ yếu
      br
      span &nbsp;&nbsp;- Chủ trì và hoàn thành các Chương trình khoa học trọng điểm Nhà nước mã số 52-01 (1980-1985), mã số 52A (1986-1990). Trong đó hoàn thành 26 đề tài cấp Nhà nước; 02 đề tài của khối SEV; chuyển giao công nghệ 13 dây chuyền công nghệ chế tạo sản phẩm cơ khí chính xác trên toàn quốc; xây dựng và chuyển giao công nghệ dây chuyền sản xuất vòi phun - bơm cao áp cho Nhà máy Ôtô 3-2 thành phố Hà Nội, Nhà máy Phụ tùng số 3 thành phố Hồ Chí Minh...; chuyển giao công nghệ phục hồi vòi phun - bơm cao áp cho các tỉnh và thành phố Nam Định, Đà Nẵng, Khánh Hoà, Cần Thơ, Nha Trang, Bình Định...
      br
      span &nbsp;&nbsp;- Từ 1996 đến 2004 Trung tâm đã chủ trì và tham gia nhiều đề tài cấp Bộ và cấp Nhà nước.
      br
      span &nbsp;&nbsp;- Trung tâm là nơi duy nhất trong cả nước chế tạo thành công cụm chi tiết của bơm thuỷ lực cho các máy công trình của các nước Nhật Bản, CHLB Đức, Hàn Quốc, Italia, LB Nga...
      br
      span &nbsp;&nbsp;- Về đào tạo, trong 20 năm qua cán bộ Trung tâm đã hướng dẫn trên 150 luận văn tốt nghiệp Đại học, hàng chục luận văn Cao học và 04 luận văn Tiến sĩ gắn liền với các đề tài do Trung tâm chủ trì. Đào tạo bồi dưỡng và cấp chứng chỉ cho nhiều chuyên gia, kỹ thuật viên về máy thuỷ lực, về lập trình CAD/CAM, CNC...
      br
      span &nbsp;&nbsp;- Trong những năm gần đây doanh thu từ hoạt động NCKH - CGCN - SXKD trên 10 tỷ đồng/năm.
      br
      span(style="font-weight:bold; text-decoration: underline; color: #000") Định hướng phát triển
      br
      span &nbsp;&nbsp;Nghiên cứu, thiết kế, chế tạo các thiết bị, sản phẩm tự động hoá, thuỷ lực, thuỷ khí chính xác. Cung cấp thiết bị dạy nghề. Các sản phẩm có độ chính xác cao, bề mặt phức tạp như: bơm thuỷ lực, van, khuôn mẫu nhựa, đột dập, đúc..
      br 
      span &nbsp;&nbsp;Xây dựng phần mềm thiết kế và điều khiển cho các máy công nghiệp điều khiển số.
       