extends layout

block content
  div(id="imageSlider")
    div(id="sliderFrame")
      div(id="slider")
        img(src="img/image-slider-1.jpg")
        img(src="img/image-slider-2.jpg")
        img(src="img/image-slider-3.jpg", alt="#htmlcaption3")
        img(src="img/image-slider-4.jpg")
      div(id="thumbs")
        div(class="thumb")
          img(src="img/thumb-1.jpg", class="thumb")
        div(class="thumb")
          img(src="img/thumb-2.jpg", class="thumb")
        div(class="thumb")
          img(src="img/thumb-3.jpg", class="thumb")
        div(class="thumb")
          img(src="img/thumb-4.jpg", class="thumb")
  div(id="contactUs", class="midContent")
    div(id="title") Liên Hệ
    div(class="space")
    div(id="content")
      div(id="address")
        div(class="title") Địa chỉ: 
        span &nbsp;&nbsp;Nhà C8B, trường Đại Học Bách Khoa Hà Nội - Phường Bách Khoa - Quận Hai Bà Trưng - Hà Nội - Việt Nam
        br
        div(class="title") Điện thoại: 
        span &nbsp;&nbsp;04-38692332
        br
        div(class="title") Di Động: 
        span &nbsp;&nbsp;Bùi Phi Long 0913 305 765
      div(id="map")
        iframe(width="400", height="340", frameborder="0", scrolling="no", marginheight="0", style="margin-top:-10em;", marginwidth="0", src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=co+khi+chinh+xac+bach+khoa+ha+noi&amp;aq=&amp;sll=21.00818,105.847971&amp;sspn=0.015464,0.015707&amp;ie=UTF8&amp;hq=co+khi+chinh+xac&amp;hnear=B%C3%A1ch+Khoa,+Hai+B%C3%A0+Tr%C6%B0ng,+Hanoi,+Vietnam&amp;ll=21.007034,105.843104&amp;spn=0.006295,0.006295&amp;t=m&amp;output=embed")